*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#111;
    color:white;
    scroll-behavior:smooth;
}

.hero{
    text-align:center;
    padding:70px 20px;
    background:linear-gradient(135deg,#000,#333);
}

.hero img{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid white;
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:8px 20px;
    background:#00adb5;
    color:white;
    text-decoration:none;
    border-radius:25px;
}

nav{
    text-align:center;
    padding:15px;
    background:#222;
}

nav a{
    margin:0 15px;
    color:white;
    text-decoration:none;
}

section{
    padding:60px 20px;
    max-width:900px;
    margin:auto;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.card{
    background:#1e1e1e;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    text-align:center;
}

.timeline-item{
    margin-bottom:20px;
    padding:15px;
    border-left:3px solid #00adb5;
}

.skill{
    margin-bottom:20px;
}

.progress{
    background:#333;
    height:8px;
    border-radius:10px;
}

.progress div{
    height:8px;
    background:#00adb5;
    border-radius:10px;
}

.social a{
    display:inline-block;
    margin:10px;
    padding:6px 15px;
    background:#00adb5;
    border-radius:20px;
    color:white;
    text-decoration:none;
}

footer{
    text-align:center;
    padding:20px;
    background:#000;
}
